{% extends 'base.html.twig' %}

{% block title %}Create Evenement{% endblock %}
{% block body %}

    <article>
        <section>
            {{ form_start(formEvent) }}

                {{ form_row(formEvent.titleEvent) }}
                {{ form_row(formEvent.descriptionEvent) }}
                {{ form_row(formEvent.imageEvent) }}
            
            {{ form_end(formEvent) }}
        </section>
        <a href=""><button>Enregistré</button></a>
    </article>

{% endblock %}