{% extends 'base.html.twig'%}

{% block title %}Evénements de Berg{% endblock %}

{% block body %}
        <h1>Evénement</h1>
        
            <section class="partieArticle">
                
                {% for articleEvent in pagination %}        
                    <article class="boucleArticle" >
                        <img src="{{ articleEvent.imageEvent}}" width="250" alt="">
                        <section>
                        <h2> {{ articleEvent.titleEvent }} </h2>
                            <article>
                                {{articleEvent.createdAdEvent|date("D d F Y H:i:s", "Europe/Paris") }}
                            </article>
                        <p> {{ articleEvent.descriptionEvent|slice(0,70)}} <a href="{{ path('event_Show', {'id': articleEvent.id}) }}">...</a> </p>
                        <a href="{{ path('event_Show', {'id': articleEvent.id}) }}"><button>Lire la suite</button></a>
                        </section>
                    </article>
                {% endfor %} 
                {{ knp_pagination_render(pagination) }}   
            </section>


{% endblock %}