{% extends 'base.html.twig'%}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="partieAccueil">
        <article id="cadreMeteo">
            <h1>Méteo</h1>
            <p>Aujourd'hui il fait un temps à rester chez sois</p>
        </article>
        <article id="cadreBienvenue">
            <h1>Bienvenue</h1>
            <div>
    {# {{ render(url('evenements', {max : 3})) }} #}

        <img src="https://media.istockphoto.com/photos/steam-train-picture-id153055320?k=6&m=153055320&s=612x612&w=0&h=1ZfEmHwe3_rEEguy2w20VzG0EM3V41BHEkSyVOYgcYU=" alt="">




            </div>    
        </article>
        <article id="cadreNouvelles">
            <section>
                <h2>Nouvelles</h2>

            <article>
                    <h3>Evénements récents</h3>
                <table>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.titleEvent }}</td>
                            <td><a href="{{path ('event_Show', {'id': event.id})}} "><button>Suite</button></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </article>
                
            <article>
                    <h3>Actualités Récentes</h3>

                <table>
                    {% for actu in actus %}
                        <tr>
                            <td>{{ actu.titleActu }}</td>
                            <td><a href="{{path ('actu_Show', {'id': actu.id})}} "><button>Suite</button></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </article>
</section>
        </article>


    {# {{ render(controller(
            'App\\Controller\\HomeController::recentEvent', {max: 3}
    ))}} #}
    </section>
{% endblock %}